.weather {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;

}

.right {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    padding-right: 20px;
}


.city {
    font-size: 1.6rem;
}

.temp {
    font-size: 5em;
    margin: 0;
}

.det-row{
    font-size: 1rem;
    margin-top: 0;
    padding-bottom: 7px;

}

.det-label {
    margin-bottom: 0;
}

.desc {
    margin-top: 0%;
}

@media (max-width: 780px) {
    .temp {
        font-size: 4rem;
    }

    img {
        width: 3rem;
    }
}
